body {
    background: #f0f0ef;
}

#control {
    position: relative;
    width: 600px;
    left: 200px;
    font-family: 'eurofurence light';
    font-size: 48px;
    color: #babbb8;
    margin-top: 50px;
    margin-bottom: 50px;
}

#control * {
    display: inline;
    margin-right: 4px;
}

.filter {
    color: #bbb;
    text-shadow: #f9f9f9 0px 2px 0px;
}

.on{
    color: #888a85;
    text-shadow: #ccc 0px 2px 0px;
}

.disabled {
    color: #f0f0ef;
    text-shadow: #ccc 0px -1px 0px;
    cursor: default;
}

#control :hover:not(.disabled) {
    text-shadow: #babbb8 0px 0px 2px;
    cursor: pointer;
}

#control #ptm {
    position: absolute;
    top: 0.17em;
    right: 105%;
    font-family: 'museo 300';
    font-size: 0.85em;
}

#list {
    padding-bottom: 50px;
}


.task {
    position: relative;
    left: 200px;
    width: 600px;
    margin-bottom: 30px;
    color: #555753;
    opacity: 0.75;
}
.now{
    opacity: 1;
}
.done {
    opacity: 0.25;
}
.time {
    position: absolute;
    top: 1px;
    right: 106%;
    font-size: 25px;
    font-family: 'eurofurence light';
    text-aligh: right;
    white-space: nowrap;
}
.priority {
    position: absolute;
    top: 2.5px;
    right: 100.75%;
    text-align: center;
    width: 32px;
    font-size: 24px;
    font-family: eurofurence;
    letter-spacing: -0.2em;
}
.text {
    font-family: 'museo 300';
    font-size: 24px;
    display: inline;
    width: 90%;
    text-shadow: white 0px 1px 0px;
}
.text:hover {
    text-shadow: #babbb8 0px 0px 2px;
    cursor: pointer;
}
.link {
    display: inline;
    font-align: right;
    font-size: 25px;
    font-family: 'eurofurence light';
}
.link:hover {
    text-shadow: #babbb8 0px 0px 2px;
    cursor: pointer;
}
.link a {
    color: inherit;
    text-decoration: none;
}
.tags {
    font-family: eurofurence;
    font-size: 15px;
    color: #888a85;
}
.tags * {
    display: inline;
    margin-right: 4px;
}

#emptymessage {
    position: relative; 
    left: 200px;
    width: 600px;
    margin-top: -50px;
    margin-bottom: 80px;
    color: #888a85;
    font-family: 'museo 300';
    font-size: 24px;
    text-shadow: white 0px 1px 0px;
}


footer {
    position: relative;
    bottom: 30px;
    left: 200px;
    width: 600px;
    font-family: eurofurence;
    font-size: 15px;
    color: #babbb8;
}


.tooltip {

    position: absolute;
    z-index: 3;
    display: none;
    
    margin-top: -40%;
    margin-left: -32%;
    
    opacity: 0.5;
    white-space:nowrap;
    
    background: white;
    border-radius: 5px;
    padding: 5px;
    
    color: #888a85;
    font-family: 'museo 300';
    font-size: 15px;
    
}
